<!-- wp:template-part {"slug":"header-inner"} /-->

<!-- wp:pattern {"slug":"ttm/archive-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group" id="main">
	<!-- wp:query {"queryId":0,"query":{"perPage":20,"postType":"post","inherit":true}} -->
	<div class="wp-block-query">
		<!-- wp:post-template -->
			<!-- wp:group {"className":"ttm-journal-row"} -->
			<div class="wp-block-group ttm-journal-row">
				<!-- wp:paragraph {"className":"is-style-journal-stream-date","metadata":{"bindings":{"content":{"source":"ttm/short-date"}}}} -->
				<p class="is-style-journal-stream-date"></p>
				<!-- /wp:paragraph -->

				<!-- wp:post-title {"isLink":true} /-->

				<!-- wp:post-excerpt /-->

				<!-- wp:paragraph {"className":"is-style-micro","metadata":{"bindings":{"content":{"source":"ttm/word-count"}}}} -->
				<p class="is-style-micro"></p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:group -->
		<!-- /wp:post-template -->

		<!-- wp:query-pagination -->
		<!-- wp:query-pagination-previous /-->
		<!-- wp:query-pagination-numbers /-->
		<!-- wp:query-pagination-next /-->
		<!-- /wp:query-pagination -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
