<!-- wp:template-part {"slug":"header-inner"} /-->

<!-- wp:group {"tagName":"main","className":"is-style-grid-8-4","layout":{"type":"default"}} -->
<main class="wp-block-group is-style-grid-8-4" id="main">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:post-title {"level":1} /-->
		<!-- wp:post-content {"className":"entry-content"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"aside","metadata":{"name":"Aside"},"layout":{"type":"constrained"}} -->
	<aside class="wp-block-group" aria-label="Related"></aside>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
