<!-- wp:template-part {"slug":"header-inner"} /-->

<!-- wp:group {"tagName":"main","className":"ttm-series-single","layout":{"type":"default"}} -->
<main class="wp-block-group ttm-series-single" id="main">
	<!-- wp:ttm/series-featured {"partsLimit":0,"showDek":true} /-->

	<!-- wp:separator {"className":"is-style-rule-2","lock":{"move":false,"remove":false}} -->
	<hr class="wp-block-separator has-alpha-channel-opacity is-style-rule-2"/>
	<!-- /wp:separator -->

	<!-- wp:group {"className":"ttm-series-single__other","layout":{"type":"default"}} -->
	<div class="wp-block-group ttm-series-single__other">
		<!-- wp:ttm/series-list {"relatedTo":"current","layout":"list","heading":"Other series"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
